@use "../abstracts/vars";
@use "../abstracts/mixins";
@use "sass:color";

.footer {
  padding: 1rem 0;
  .footer-content {
    @include mixins.flex(row, space-between, start);
    .social-network {
      .form {
        @include mixins.flex(row, space-between, center);
        gap: 1rem;
        input {
          @include mixins.button(
            vars.$bg-color,
            vars.$pr-color,
            vars.$pr-color
          );
          cursor: text;
          padding-left: 0.5rem;
          font-weight: 200;

          &::placeholder {
            font-family: vars.$body;
            font-weight: 400;
          }
        }
        button {
          @include mixins.button(
            vars.$pr-color,
            vars.$bg-color,
            vars.$pr-color
          );

          &:hover {
            background-color: color.adjust(vars.$pr-color, $lightness: 10%);
            background-color: color.adjust(vars.$pr-color, $lightness: 10%);
          }
        }
      }
      .social-networks {
        @include mixins.flex(row, space-between, center);
        margin: 1rem 0;
        li {
          a > svg {
            font-size: 1.5rem;
            &:hover {
              color: vars.$sc-color;
            }
          }
        }
      }
    }
    .foot-nav {
      @include mixins.flex(column, space-between, end);
      .logo a {
        text-decoration: none;
        color: vars.$pr-color;
        font-weight: 600;
        font-size: 2rem;
      }
      .foot-nav_items {
        @include mixins.flex(row, space-between, center);
        list-style-type: none;
        gap: 1rem * 3;
        li > a {
          &:hover {
            color: vars.$sc-color;
          }
        }
      }
    }
  }
}
