@use "../abstracts/vars.scss";
@use "../abstracts/mixins.scss";

.header {
  padding: vars.$spacing-sm 0;
  .header-content {
    @include mixins.flex(row, space-between, center);
    .logo a {
      text-decoration: none;
      color: vars.$pr-color;
      font-weight: 600;
      font-size: vars.$large;
      font-family: vars.$logo;
    }
    .navbar {
      @include mixins.flex(row, space-between, center);

      .items {
        @include mixins.flex(row, space-between, center);
        list-style-type: none;
        gap: vars.$gap * 3;
        padding: 0 vars.$gap * 10;
        li > a {
          font-family: vars.$logo;
          text-decoration: none;
          color: vars.$pr-color;

          &:hover {
            color: vars.$sc-color;
          }
        }
      }
    }

    .login-btn {
      @include mixins.button(
        vars.$bg-color,
        vars.$pr-color,
        vars.$pr-color,
        vars.$bg-color,
        vars.$sc-color,
        vars.$sc-color
      );
      @include mixins.flex(row, space-between, center);
      gap: vars.$gap * 0.5;
    }
  }
}
