@use "../abstracts/vars.scss";
@use "../abstracts/mixins.scss";
@use "sass:color";

.search-component {
  position: fixed;
  width: 100%;
  background-color: vars.$bg-color;
  z-index: 2;
  padding: 0 0 1rem;

  .categs-search {
    @include mixins.flex(row, space-between, center);
    gap: 1rem * 3;
    z-index: 2;

    .categories {
      @include mixins.categories;
    }

    .search {
      @include mixins.flex(row, space-between, center);
      gap: 1rem;
      .search-btn {
        @include mixins.button(vars.$pr-color, vars.$bg-color, vars.$pr-color);

        &:hover {
          background-color: color.adjust(vars.$pr-color, $lightness: 10%);
          background-color: color.adjust(vars.$pr-color, $lightness: 10%);
        }
      }
    }
  }
}
