@use "../abstracts/mixins";
@use "sass:color";
@use "../abstracts/vars";

.top-article {
  padding: 3rem 0;

  .article-content {
    @include mixins.flex(row, space-between, start);
    gap: 1rem * 5;

    .text-div {
      flex: 1;
      min-width: 50%;
      @include mixins.flex(column, space-between, start);

      .article-title {
        margin: 0 0 0.5rem;
      }

      .article-div {
        .article-content__text {
          padding-bottom: 2rem;
        }
        .readmore-btn {
          @include mixins.button(
            vars.$pr-color,
            vars.$bg-color,
            vars.$pr-color
          );
          &:hover {
            background-color: color.adjust(vars.$pr-color, $lightness: 10%);
            background-color: color.adjust(vars.$pr-color, $lightness: 10%);
          }
        }
      }

      .article-metadata {
        width: 80%;
        @include mixins.flex(row, space-between, center);
        text-align: start;
        margin-top: 2rem;

        div,
        a.author {
          @include mixins.flex(row, space-between, center);
          gap: 1rem * 0.5;
          color: vars.$txt-muted;
          svg {
            color: vars.$txt-muted;
          }
        }

        a.author:hover {
          text-decoration: underline;
        }
      }
    }

    .image-div {
      overflow: hidden;
      @include mixins.flex(column, center, end);
    }
  }
}
