@use "sass:color";
@use "./vars.scss";

@mixin container-style($max-width: $max-width, $padding: $container-padding) {
  width: 100%;
  max-width: vars.$max-width;
  margin: 0 auto;
  padding: 0 vars.$padding;
}

@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin grid($columns, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}

@mixin center-absolute() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Responsive
@mixin device($device) {
  @if $device == mobile {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $device == tablet {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $device == desktop {
    @media (min-width: 1025px) {
      @content;
    }
  }
}

// Elements
@mixin button(
  $bg-color,
  $txt,
  $border,
  $hover-bg: none,
  $hover-border: none,
  $hover-txt: none
) {
  background-color: $bg_color;
  border-radius: vars.$radius;
  color: $txt;
  padding: vars.$spacing-xs vars.$spacing-md;
  display: inline-block;
  border: 1px solid $border;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.1s;
  font-weight: 600;
  &:hover {
    background-color: color.adjust(vars.$pr-color, $lightness: 10%);
    background-color: color.adjust(vars.$pr-color, $lightness: 10%);
  }
}

@mixin article {
  width: 60%;
  margin: 0 auto;
}
