@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

// Colors
$pr-color: #023047;
$sc-color: #f4a261;
$bg-color: #f0f0f0;
$hover-bg: #e0e0e0;
$txt-color: #333333;
$txt-muted: #6c757d;
$submit-color: #0056b3;

$colors: #507b91 #397492 #828c91 #732e73 #a77c4c #556973;

// Fonts
$body: "Open Sans", sans-serif;

$container-padding: 16px;
$max-width: 1400px;
