@import "../styles/abstracts/mixins";
@import "../styles/abstracts/vars";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $bg-color;
}

.container {
  @include container-style();
}
